@import "tailwindcss";
@import "@fontsource/underdog";

@theme {
  /* https://pigment.shapefactory.co/?a=76CDA5&b=FF3786 */
  --color-primary-light: #8cdfba;
  --color-primary: #76cda5;
  --color-primary-dark: #56b285;
  --color-primary-darker: #389465;

  --color-on-primary: #fff;

  --color-secondary-light: #ff64a6;
  --color-secondary: #ff3786;
  --color-secondary-dakr: #ea055a;
  --color-secondary-darker: #cc0047;

  --color-on-secondary: #fff;

  --font-display: "Underdog", sans-serif;
}
